.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: -ms-page;
  width: 100vw;
  height: 80vh;
  margin-top: 100px;
}
main {
  margin-top: 100px;
  margin-right: 150px;
  margin-left: 150px;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}
.footer {
  bottom: 0;
  width: 100vw;
  padding: 15px;
  color: black;
  background-color: rgba(212, 209, 209, 0.527);
  text-align: center;
}
.actorbox {
  position: relative;
  align-items: center;
  overflow: hidden;
}
.actorbox button {
  font-size: 30px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: transparent;
  color: rgb(219, 153, 78);
  z-index: 3;
}
.actorcontainer {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}
.actordetailbox {
  background-color: #f7f7f7;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
  z-index: 1;
}
.actorbox .actoriconl {
  position: absolute;
  margin-top: 80px;
  margin-left: 0px;
  z-index: 30;
}
.actorbox .actoriconr {
  position: absolute;
  margin-top: -170px;
  margin-left: 90%;
  z-index: 30;
}
.y250 {
  height: 250px;
  overflow-y: hidden;
}
.none {
  display: none;
}
.showimg img {
  transition: all 0.4s ease-in-out;
}
.showimg img:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
}
/*
별점주기 css
*/
.rating {
    border: none;
    width: 180px;
}
.rating > input {
    display: none;
}
.rating > label:before {
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    margin: 3px;
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
}
.rating > .half:before {
    content: "\f089";
    position: absolute;
    cursor: pointer;
    font-weight: 600;
}
.rating > label {
    color: #ddd;
    float: right;
    cursor: pointer;
}
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #a593e0;
}
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > input:hover ~ input:checked ~ label,
.rating > input:checked ~ input:hover ~ label {
    color: #a593e0;
}
.showdetailbox .card-img-top {
    width: 200px;
    height: 245px;
    object-position: center;
    object-fit: cover;
}
.show_list_main img {
    width: 230px;
    height: 282px;
    object-position: center;
    object-fit: cover;
}
