{% load static %} {% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block extra_head %}
        <link rel="stylesheet" href="{% static 'layout.css' %}" />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
            integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />

        {% endblock extra_head %}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="/"><img src="/static/kover.png" alt="kover" width="130px" /></a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="/feed">피드</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile_geo">지도</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile_block">프로필</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contents">리뷰등록</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="/profile_block"
                            id="navbarDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            설정
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a
                                class="dropdown-item"
                                href="{% url 'login:logout' %}?next={{request.path}}"
                                onclick="return confirm('로그아웃 하시겠습니까?');"
                                >로그아웃</a
                            >
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">더보기</a>
                        </div>
                    </li>

                    {% else %}
                    <!--로그인 안된 상태면-->
                    <li class="nav-item">
                        <a class="nav-link" href="/feed">피드</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'login:login'%}">로그인</a>
                    </li>

                    {% endif %}
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <main>{% block content %} {% endblock %}</main>

        <footer>
            {% block footer %}
            <div class="footer">
                <small>2021 KOVER</small>
                <br />
            </div>

            {% endblock %}
        </footer>
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
