{% extends "layout.html" %} 
{% block extra_head %} 
{{block.super}} 
{% endblock %} 
{% block content %}
<title>Kover | {{feed.get_feed_type_display}}</title>

<div id="post-{{feed.id}}" class="wrapper">
    <div>
        <h2 class="title">{{ feed.feed_title }}</h2>
        <div class="content">{{ feed.feed_content }}</div>
        <div class="author">{{ feed.feed_author }}</div>
        <div class="feed_created_at">{{ feed.feed_created_at }}</div>
        {% if users in feed.feed_like.all %}
            <button class='alreadyliked' onclick="onClickLiked()">추천 {{feed.feed_like.all.count}} </button>
        {% else %}
            <button class="likebtn" type="submit" onclick="onClickLike({{ feed.id }})">추천 {{feed.feed_like.all.count}}</button>
            <button class='alreadyliked none' onclick="onClickLiked()">추천 {{feed.feed_like.all.count}} </button>
        {% endif %}

        {% for com in comlist %}
        <div class="comment_number">댓글수 {{com}}</div>
        {% endfor %}
        <div class="comment_t">
            댓글 {% for comment in feed.comment_post.all %}
            <div class="comment">{{ comment.comment_content }} - {{comment.comment_author}}</div>
            {% endfor %}
        </div>
        <div style="margin-bottom: 300px">
            <input class="comment_content" type="text" placeholder="댓글 달기" />
            <button class="" type="submit" onclick="onClickCom({{ feed.id }})">{% csrf_token %}게시</button>
        </div>
    </div>

    <script>
        const request = new XMLHttpRequest();
        const comrequest = new XMLHttpRequest();
        const users = '{{users}}';
        const onClickLike = (id) => {
            if(users == false){
                alert('로그인 후 추천 가능합니다')
            }else{
                const url = "/feed/like/";
                request.open("POST", url, true);
                request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                request.send(JSON.stringify({ id }));
            }
        };
        const onClickLiked=()=>{
            alert('이미 추천한 피드입니다')
        }

        const handleResponse = () => {
            if (request.status <= 400) {
                const { id, type } = JSON.parse(request.response);
                const element = document.querySelector(`#post-${id} div .likebtn`);
                const likeelement = document.querySelector(`#post-${id} div .alreadyliked`);
                const origin = likeelement.innerText;
                const [typeStr, num] = origin.split(" ");
                const count = Number(num) + 1;
                likeelement.innerText = `${typeStr} ${count}`;
                element.classList.add('none');
                likeelement.classList.remove('none');

            }
        };

        const onClickCom = (id) => {
            const input = document.querySelector(`#post-${id} div input`);
            const content = input.value;
            const url = "/feed/comment/";
            comrequest.open("POST", url, true);
            comrequest.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            comrequest.send(JSON.stringify({ id, content }));
            input.value = "";
        };

        const handleResponseCom = () => {
            if (comrequest.status <= 400) {
                const { id, comment, writer } = JSON.parse(comrequest.response);
                const element = document.querySelector(`#post-${id} div .comment_t`);
                const comnum = document.querySelector(`#post-${id} div .comment_number`);

                const origin = comnum.innerText;
                const [typeStr, num] = origin.split(" ");
                const count = Number(num) + 1;
                comnum.innerText = `${typeStr} ${count}`;

                const create_com = document.createElement("div");
                create_com.innerText = `${comment} - ${writer}`;
                element.appendChild(create_com);
            }
        };

        request.onreadystatechange = () => {
            if (request.readyState === XMLHttpRequest.DONE) {
                handleResponse();
            }
        };
        comrequest.onreadystatechange = () => {
            if (comrequest.readyState === XMLHttpRequest.DONE) {
                handleResponseCom();
            }
        };
    </script>
</div>
{% endblock %}
