{% extends "layout.html" %} {% block extra_head %} {{block.super}} {%endblock%} {% block content %} {% comment %}
<div></div>
{% endcomment %} {% for feed in feeds%}
<h1>{{ feed.feed_type }}</h1>
<div class="wrapper post-{{ feed.id }}">
    <div>
        <h2 class="title">{{ feed.feed_title }}</h2>
        <div class="content">{{ feed.feed_content }}</div>
        <div class="author">{{ feed.feed_author }}</div>
        <div class="feed_created_at">{{ feed.feed_created_at }}</div>
        <button type="submit" onclick="onClickBtn({{ feed.id }}, 'feed_like')" name="type" value="like">
            추천 {{ feed.feed_like }}
        </button>
        {{ feed.comment_post }}

        <div class="comment_t">
            댓글 {% for comment in feed.comments.all %}
            <div class="comment">{{ Feed_comment.comment_content }}</div>
            {% endfor %}
        </div>

        <form method="post">
            {% csrf_token %}
            <input class="comment_content" type="text" placeholder="댓글 달기" />
            <input class="sbmbtn" type="submit" onclick="onClickBtnCMT({{ subject.id }})" value="게시" />
        </form>
    </div>
</div>
{% endfor %}

<script>
    const request = new XMLHttpRequest();

    const onClickBtn = (id, type) => {
        const url = "/feed/";
        request.open("POST", url, true);
        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        request.send(JSON.stringify({ id: id, type: type }));
    };

    const handleResponse = () => {
        if (request.status <= 400) {
            const { id, type } = JSON.parse(request.response);

            const element = document.querySelector(`#post-${id} button[value=${type}]`);
            const origin = element.innerText;
            const [typeStr, num] = origin.split(" ");
            const count = Number(num) + 1;
            element.innerText = `${typeStr} ${count}`;
        }
    };

    request.onreadystatechange = () => {
        if (request.readyState === XMLHttpRequest.DONE) {
            handleResponse();
        }
    };

    const onClickBtnCMT = (id) => {
        const url = "/feed/";
        const value = document.querySelector(`.comment_create-${id} .comment_content`);
        request.open("POST", url, true);
        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        request.send(JSON.stringify({ id: id }));
    };
</script>
{% endblock %}
