{% extends "layout.html" %} {% block extra_head %} {{block.super}} {%endblock%}
{% block content %}
<title>Kover | feed_main</title>

<style>
    button{
        margin-right:20px;
    }
        .feeds_main_hot{
        background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    }

</style> 

<nav aria-label="breadcrumb">
    <ol class="breadcrumb light">
        <li class="breadcrumb-item"><a href="">Home</a></li>
        <li class="breadcrumb-item"><a href="/feed/hot_feed">HOT</a></li>
        <li class="breadcrumb-item"><a href="/feed/play_lib">연극-자유</a></li>
        <li class="breadcrumb-item"><a href="/feed/play_inf">연극-정보</a></li>
        <li class="breadcrumb-item"><a href="/feed/musical_lib">뮤지컬-자유</a></li>
        <li class="breadcrumb-item"><a href="/feed/musical_inf">뮤지컬-정보</a></li>
        <li class="breadcrumb-item"><a href="/feed/question">질문</a></li>
    </ol>
</nav>

<div class="feeds_main_hot mb-3 px-3" style='padding-bottom:80px;'> 
    <a href="/feed/hot_feed"><b style="font-size: 25px" data-aos="fade-right" data-aos-delay='500' data-duration='900'>HOT 피드</b></a>
    <div class="list-group">
        {% for feed in feed_0  %}
        <a
            href="{%url 'kover:feed_page' feed.id%}"
            class="list-group-item list-group-item-action flex-column align-items-start"
        >
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{feed.feed_title}}</h5>
                <div class="text-muted"><i class="fas fa-heart" style="color:#ff726f"> {{feed.feed_like.all.count}} </i> <i class="fas fa-comment-alt ml-2" style="color:#59bae7"> {{feed.comment_post.all.count}}</i> </div>
            </div>
            <p class="mb-1">{{feed.feed_content|truncatechars:30}}</p>
        </a>
        {% endfor %}
    </div>
    <div class="form-row float-right" style="margin-top: 20px">
        <button type="button" class="btn btn-dark pull-right" onclick="location.href = '/feed/hot_feed'">더 보기</button>
    </div>
    </div>
</div>

<div class="row px-3">
  <div class="feeds_main col-lg-6" style="margin-bottom: 20px">
    <b style="font-size: 25px" data-aos="fade-right" data-aos-delay='500' data-duration='900'>연극 - 자유</b>
    <div class="list-group">
        {% for feed in feed_1 %}
        <a
            href="{%url 'kover:feed_page' feed.id%}"
            class="list-group-item list-group-item-action flex-column align-items-start"
        >
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{feed.feed_title}}</h5>
                <div class="text-muted"><i class="fas fa-heart" style="color:#ff726f"> {{feed.feed_like.all.count}} </i> <i class="fas fa-comment-alt ml-2" style="color:#59bae7"> {{feed.comment_post.all.count}}</i> </div>
            </div>
            <p class="mb-1">{{feed.feed_content|truncatechars:30}}</p>
        </a>
        {% endfor %}
    </div>
    <div class="form-row float-right" style="margin-top: 20px">
        <button type="button" class="btn btn-dark pull-right" onclick="location.href = '/feed/play_lib'">더 보기</button>
    </div>
  </div>

  <div class="feeds_main col-lg-6" style="margin-bottom: 20px">
    <b style="font-size: 25px" data-aos="fade-right" data-aos-delay='500' data-duration='900'>연극 - 정보</b>
    <div class="list-group">
        {% for feed in feed_2 %}
        <a
            href="{%url 'kover:feed_page' feed.id%}"
            class="list-group-item list-group-item-action flex-column align-items-start"
        >
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{feed.feed_title}}</h5>
                <div class="text-muted"><i class="fas fa-heart" style="color:#ff726f"> {{feed.feed_like.all.count}} </i> <i class="fas fa-comment-alt ml-2" style="color:#59bae7"> {{feed.comment_post.all.count}}</i> </div>
            </div>
            <p class="mb-1">{{feed.feed_content|truncatechars:30}}</p>
        </a>
        {% endfor %}
    </div>
    <div class="form-row float-right" style="margin-top: 20px">
        <button type="button" class="btn btn-dark pull-right" onclick="location.href = '/feed/play_inf'">더 보기</button>
    </div>
  </div>
</div>

<div class="row px-3" style="margin-top: 30px">
  <div class="feeds_main col-lg-6" style="margin-bottom: 20px">
    <b style="font-size: 25px" data-aos="fade-right" data-aos-delay='500' data-duration='900'>뮤지컬 - 자유</b>
    <div class="list-group">
        {% for feed in feed_3 %}
        <a
            href="{%url 'kover:feed_page' feed.id%}"
            class="list-group-item list-group-item-action flex-column align-items-start"
        >
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{feed.feed_title}}</h5>
                <div class="text-muted"><i class="fas fa-heart" style="color:#ff726f"> {{feed.feed_like.all.count}} </i> <i class="fas fa-comment-alt ml-2" style="color:#59bae7"> {{feed.comment_post.all.count}}</i> </div>
            </div>
            <p class="mb-1">{{feed.feed_content|truncatechars:30}}</p>
        </a>
        {% endfor %}
    </div>
    <div class="form-row float-right" style="margin-top: 20px">
        <button type="button" class="btn btn-dark pull-right" onclick="location.href = '/feed/musical_lib'">더 보기</button>
    </div>
  </div>

  <div class="feeds_main col-lg-6 px-3" style="margin-bottom: 20px">
    <b style="font-size: 25px" data-aos="fade-right" data-aos-delay='500' data-duration='900'>뮤지컬 - 정보</b>
    <div class="list-group">
        {% for feed in feed_4 %}
        <a
            href="{%url 'kover:feed_page' feed.id%}"
            class="list-group-item list-group-item-action flex-column align-items-start"
        >
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{feed.feed_title}}</h5>
                <div class="text-muted"><i class="fas fa-heart" style="color:#ff726f"> {{feed.feed_like.all.count}} </i> <i class="fas fa-comment-alt ml-2" style="color:#59bae7"> {{feed.comment_post.all.count}}</i> </div>
            </div>
            <p class="mb-1">{{feed.feed_content|truncatechars:30}}</p>
        </a>
        {% endfor %}
    </div>
    <div class="form-row float-right" style="margin-top: 20px">
        <button type="button" class="btn btn-dark pull-right" onclick="location.href = '/feed/musical_inf'">더 보기</button>
    </div>
  </div>
</div>

<div class="feeds_main px-3" style="margin-bottom: 100px">
    <a href="/feed/question"><b data-aos="fade-right" data-aos-delay='500' data-duration='900' style="font-size: 25px">질문</b></a>
    <div class="list-group">
        {% for feed in feed_5 %}
        <a
            href="{%url 'kover:feed_page' feed.id%}"
            class="list-group-item list-group-item-action flex-column align-items-start"
        >
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{feed.feed_title}}</h5>
                <div class="text-muted"><i class="fas fa-heart" style="color:#ff726f"> {{feed.feed_like.all.count}} </i> <i class="fas fa-comment-alt ml-2" style="color:#59bae7"> {{feed.comment_post.all.count}}</i> </div>
            </div>
            <p class="mb-1">{{feed.feed_content|truncatechars:30}}</p>
        </a>
        {% endfor %}
    </div>
    <div class="form-row float-right" style="margin-top: 20px">
        <button type="button" class="btn btn-dark pull-right" onclick="location.href = '/feed/question'">더 보기</button>
    </div>
</div>

{% endblock %}
