{% extends "layout.html" %} 
{% block extra_head %} 
{{block.super}} 
{% endblock %} 
{% block content %}
<title>Kover | {{feed.get_feed_type_display}}</title>

<div id="post-{{feed.id}}" class="wrapper ml-4 mr-4 col-xl-8">
    <div>
        <h2 class="title mb-3">{{ feed.feed_title }}</h2>
        <div id="content" class="mb-4">{{ feed.feed_content }}</div>
        <div class="author"><a href="{%url 'kover:profile_block' %}">{{ feed.feed_author }}</a></div>
        {% comment %} <div class="author"><a href="{%url 'kover:profile_block' users.id%}">{{ feed.feed_author }}</a></div> {% endcomment %}
        <div class="feed_created_at mb-3">{{ feed.feed_created_at }}</div>
        {% if users in feed.feed_like.all %}
            <button class='alreadyliked btn btn-danger btn-sm badge-pill' onclick="onClickLiked()"><i class="fas fa-heart"></i> {{feed.feed_like.all.count}} </button>
            {% comment %} <span class="badge badge-danger badge-pill"> <i class="fas fa-heart"></i> {{feed.feed_like.all.count}} </span> {% endcomment %}
        {% else %}
            <button class="likebtn btn btn-outline-danger btn-sm badge-pill" type="submit" onclick="onClickLike({{ feed.id }})"><i class="fas fa-heart"></i> {{feed.feed_like.all.count}}</button>
            <button class='alreadyliked none' onclick="onClickLiked()"><i class="fas fa-heart"></i> {{feed.feed_like.all.count}} </button>
        {% endif %}
        <button class="comment_number btn btn-outline-info btn-sm badge-pill" disabled ><i class="fas fa-comment-alt"></i> {{feed.comment_post.all.count}} </button>
        <div class="comment_t ">
            댓글 
            {% for comment in feed.comment_post.all %}
            <div class="comment list-group-item list-group-item-action flex-column align-items-start">
            {{ comment.comment_content|linebreaksbr }} 
            <p><a href="{%url 'kover:profile_block' %}">{{comment.comment_author}}</a> / {{comment.comment_created_at}} 
            <a href="">수정</a> <a href="">삭제</a></p></div>
            {% endfor %}
            <div style="margin-bottom: 300px">
                <input class="comment_content" type="text" placeholder="댓글 달기" />
                <textarea id="multiliner" name="multiliner" style="white-space: pre-wrap; overflow:hidden; overflow-wrap:break-word;" placeholder="댓글 달기"></textarea>
                <button class="" type="submit" onclick="onClickCom({{ feed.id }})">{% csrf_token %}게시</button>




            </div>
        </div>
    </div>

    <script>
        const request = new XMLHttpRequest();
        const comrequest = new XMLHttpRequest();
        const users = '{{users}}';
        const onClickLike = (id) => {
            if(users == false){
                alert('로그인 후 추천 가능합니다')
            }else{
                const url = "/feed/like/";
                request.open("POST", url, true);
                request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                request.send(JSON.stringify({ id }));
            }
        };
        const onClickLiked=()=>{
            alert('이미 추천한 피드입니다')
        }

        const handleResponse = () => {
            if (request.status <= 400) {
                const { id, type } = JSON.parse(request.response);
                const element = document.querySelector(`#post-${id} div .likebtn`);
                const likeelement = document.querySelector(`#post-${id} div .alreadyliked`);
                const origin = likeelement.innerText;
                const [typeStr, num] = origin.split(" ");
                const count = Number(num) + 1;
                likeelement.innerText = `${typeStr} ${count}`;
                element.classList.add('none');
                likeelement.classList.remove('none');

            }
        };

        const onClickCom = (id) => {
            const input = document.querySelector(`#post-${id} div textarea`);
            const content = input.value;
            const url = "/feed/comment/";
            comrequest.open("POST", url, true);
            comrequest.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            comrequest.send(JSON.stringify({ id, content }));
            input.value = "";
        };
{% comment %} 
            var post = document.createElement('p');
            post.textContent = postText;
            post.innerHTML = post.innerHTML.replace(/\n/g, '<br>\n'); {% endcomment %}


{% comment %} 
        var post = document.createElement('p');
        var postText = document.getElementById('post-text').value;
        post.append(postText);
        var card = document.createElement('div');
        card.append(post);
        var cardStack = document.getElementById('#card-stack');
        cardStack.prepend(card); {% endcomment %}




        const handleResponseCom = () => {
            if (comrequest.status <= 400) {
                const { id, comment, writer } = JSON.parse(comrequest.response);
                const element = document.querySelector(`#post-${id} div .comment_t`);
                const comnum = document.querySelector(`#post-${id} div .comment_number`);

                const origin = comnum.innerText;
                const [typeStr, num] = origin.split(" ");
                const count = Number(num) + 1;
                comnum.innerText = `${typeStr} ${count}`;

                const create_com = document.createElement("div");
                create_com.innerText = `${comment} - ${writer}`;
                element.appendChild(create_com);
            }
        };

        request.onreadystatechange = () => {
            if (request.readyState === XMLHttpRequest.DONE) {
                handleResponse();
            }
        };
        comrequest.onreadystatechange = () => {
            if (comrequest.readyState === XMLHttpRequest.DONE) {
                handleResponseCom();
            }
        };
    </script>
</div>
{% endblock %}
