{% extends "layout.html" %} {% block extra_head %} {{block.super}} {%endblock%}
{% block content %}
<title>Kover | feed_main</title>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb light">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">연극-자유</a></li>
    <li class="breadcrumb-item"><a href="#">연극-정보</a></li>
    <li class="breadcrumb-item"><a href="#">뮤지컬-자유</a></li>
    <li class="breadcrumb-item"><a href="#">뮤지컬-정보</a></li>
    <li class="breadcrumb-item"><a href="#">질문</a></li>
  </ol>
</nav>

<div class="feeds_main" style="margin-bottom: 50px">
  <b style="font-size: 25px">연극 - 자유</b>
  <table class="table table-hover">
    <tbody>
      {% for feed in feed_1 %}
      <tr>
        <td>{{feed.feed_title}}</td>
        <td>{{feed.feed_author}}</td>
        <td>{{feed.feed_like}}</td>
        <td>{{feed.feed_like}}</td>
        <td>{{feed.feed_created_at}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr />
  <div class="form-row float-right">
    <button
      type="button"
      class="btn btn-dark pull-right"
      onclick="location.href = '#'"
    >
      더 보기
    </button>
  </div>
</div>

<div class="feeds_main" style="margin-bottom: 50px">
  <b style="font-size: 25px">연극 - 정보</b>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>댓글</th>
        <th>좋아요</th>
        <th>날짜</th>
      </tr>
    </thead>
    <tbody>
      {% for feed in feed_2 %}
      <tr>
        <td>{{feed.feed_title}}</td>
        <td>{{feed.feed_author}}</td>
        <td>{{feed.feed_like}}</td>
        <td>{{feed.feed_like}}</td>
        <td>{{feed.feed_created_at}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr />
  <div class="form-row float-right">
    <button
      type="button"
      class="btn btn-dark pull-right"
      onclick="location.href = '#'"
    >
      더 보기
    </button>
  </div>
</div>

<div class="feeds_main" style="margin-bottom: 50px">
  <b style="font-size: 25px">뮤지컬 - 자유</b>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>댓글</th>
        <th>좋아요</th>
        <th>날짜</th>
      </tr>
    </thead>
    <tbody>
      {% for feed in feed_3 %}
      <tr>
        <td>{{feed.feed_title}}</td>
        <td>{{feed.feed_author}}</td>
        <td>{{feed.feed_like}}</td>
        <td>{{feed.feed_like}}</td>
        <td>{{feed.feed_created_at}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr />
  <div class="form-row float-right">
    <button
      type="button"
      class="btn btn-dark pull-right"
      onclick="location.href = '#'"
    >
      더 보기
    </button>
  </div>
</div>

<div class="feeds_main" style="margin-bottom: 50px">
  <b style="font-size: 25px">뮤지컬 - 정보</b>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>댓글</th>
        <th>좋아요</th>
        <th>날짜</th>
      </tr>
    </thead>
    <tbody>
      {% for feed in feed_4 %}
      <tr>
        <td>{{feed.feed_title}}</td>
        <td>{{feed.feed_author}}</td>
        <td>{{feed.feed_like}}</td>
        <td>{{feed.feed_like}}</td>
        <td>{{feed.feed_created_at}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr />
  <div class="form-row float-right">
    <button
      type="button"
      class="btn btn-dark pull-right"
      onclick="location.href = '#'"
    >
      더 보기
    </button>
  </div>
</div>

<div class="feeds_main" style="margin-bottom: 100px">
  <b style="font-size: 25px">질문</b>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>댓글</th>
        <th>좋아요</th>
        <th>날짜</th>
      </tr>
    </thead>
    <tbody>
      {% for feed in feed_5 %}
      <tr>
        <td>{{feed.feed_title}}</td>
        <td>{{feed.feed_author}}</td>
        <td>{{feed.feed_like}}</td>
        <td>{{feed.feed_like}}</td>
        <td>{{feed.feed_created_at}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr />
  <div class="form-row float-right">
    <button
      type="button"
      class="btn btn-dark pull-right"
      onclick="location.href = '#'"
    >
      더 보기
    </button>
  </div>
</div>

{% endblock %}
