{% extends "layout.html" %} {% block extra_head %} {{block.super}} {%endblock%} {% block content %}
<title>Kover | contents</title>

<div>
    <h4>{{users}}님이 좋아하는 배우들을 추가해보세요!<br /></h4>
</div>

<h4><br />연극배우<br /></h4>
<div class="playactorslist">
    {% for people in peoples %}
    <div class="peoplecard">
        <p>{{people.people_name}}</p>
        <img src="{{people.people_img}}" alt="" width="150px" />
        <button class="notyetliked" onclick="onClickActor({{people.id}})"><i class="fas fa-splotch"></i></button>
    </div>
    {% endfor %}
</div>

<h4><br />뮤지컬배우</h4>
<div class="playmusical">
    {% comment %} 아직 관람하지 않은 뮤지컬들의 리스트 {% endcomment %} {% for musical in musicals %}
    <div class="show_list_main">
        <a href="{%url 'kover:show_detail' musical.id%}">
            <p>{{musical.show_name}}</p>
            <img src="{{musical.show_poster}}" alt="" width="150px" />
        </a>
    </div>
    {% endfor %}
</div>
<script>
    const actorrequest = new XMLHttpRequest();

    const onClickActor = (id) => {
        const url = "/actors/like/";
        actorrequest.open("POST", url, true);
        actorrequest.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        actorrequest.send(JSON.stringify({ id }));
        alert("추가되었습니다");
    };
</script>
{%endblock%}
