{% extends "layout.html" %} 
{% block extra_head %} 
{{block.super}} 
{%endblock%}
{% block content %}

<title>Kover | main</title>
<style>
    body{
      background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
      width: 1000px;
    }

    .showimg {
        border-radius: 10px;
        margin-right:5px;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
        transition: all 0.4s ease-in-out;
    }
    .showimg:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    }
    .feed_main{
        border-radius: 8px;
    } 
    main_title{
        margin-bottom: 10px;
    }


</style>

<div class="main_body py-5 px-5 ">
    <div class="show_list ">
        <div class="show_list_main ">
            <span style="font-size: 25px" class='main_title mb-2 ' data-aos="fade-right" data-aos-delay='500' data-duration='900'><b>최근 개봉 공연</b></span>
            <br />
            {% for show in show_1 %}
            <a  href="{%url 'kover:show_detail' show.id%}"><img src="{{show.show_poster}}"  width="250px" class='showimg' data-aos="fade-up" data-aos-delay='500' data-aos-duration='1300' /></a>
            {% endfor %}
        </div>

        <div class="show_list_main" style="margin-top: 30px" >
            <span style="font-size: 25px" class='mb-2'data-aos="fade-right" data-aos-delay='500' data-duration='900' ><b>많은 리뷰를 받은 공연</b></span>
            <br />
            {% for show in show_2 %}
            <a href="{%url 'kover:show_detail' show.id %}"><img src="{{show.show_poster}}"  width="250px"  class='showimg' data-aos="fade-up" data-aos-delay='500' data-aos-duration='1300'/></a>
            {% endfor %}
        </div>

        <div class="show_list_main " style="margin-top: 35px">
            <span style="font-size: 25px;" class='mb-2'data-aos="fade-right" data-aos-delay='500' data-duration='900'><b>내 배우의 공연</b></span>
            <br />
            {% if user.is_authenticated %}
                {% for show in wantshow %}
                <a href="{%url 'kover:show_detail' show.id %}"><img src="{{show.show_poster}}" width="250px"  class='showimg' data-aos="fade-up" data-aos-delay='500' data-aos-duration='1300'/></a>
                {% endfor %}
            {% else %}
                <p><br>로그인하고 내 최애 배우를 추가하세요 <br> Kover가 최애 배우의 최근 공연을 보여드릴게요:) <br> </p>
            {% endif %}
        </div>
    </div>

    <div class="row ml-3" style="margin-top: 30px" data-aos='fade-right' data-aos-offset='200' data-aos-delay='200' data-aos-easing='ease-in-sine'>
        <div class="feed_main col-lg-6">
            <span style="font-size: 25px"><b>HOT 피드</b></span>

            <ul class="list-group " style="max-width: 35rem;">
                {% for feed in feed_2 %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{%url 'kover:feed_page' feed.id%}">{{feed.feed_title}}</a>
                    <div class="text-muted"><i class="fas fa-heart" style="color:#ff726f"> {{feed.feed_like.all.count}} </i> 
                    <i class="fas fa-comment-alt ml-2" style="color:#59bae7"> {{feed.comment_post.all.count}}</i> </div>
                {% endfor %}

                </li>
            </ul>
        </div>

        <div class="feed_main col-lg-6 " data-aos='fade-left' data-aos-offset='200' data-aos-delay='200' data-aos-easing='ease-in-sine'>
            <span style="font-size: 25px"><b>최근 피드</b></span>
            <ul class="list-group " style="max-width: 35rem;">
                {% for feed in feed_1 %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="/feed/{{feed.feed_type}}">  {{feed.get_feed_type_display}}</a>
                    <a href="{%url 'kover:feed_page' feed.id%}"><span class="badge badge-white badge-pill">{{feed.feed_title}}</span></a>
                </li>
                {% endfor %}</p>
            </ul>
        </div>
    </div>

</div>
</div>
</div>
{% endblock %}