{% extends "layout.html" %} {% block extra_head %} {{block.super}} {%endblock%} {% block content %}

<title>Kover | block profile</title>
<div class="card text-black my-5 py-4 text-center">
    <div class="panel-body ml-4 mt-6 row">
        <h4>{{users.nickname}}님의 단계 : {% if users.grade == 0 %} 초보 연극인 {% else %} 고수 {% endif%}</h4>
    </div>
    <div class="text-right mr-4">
        <a href="">calender</a>
    </div>
</div>
<div class="container-fluid mt-2 mb-3">
    <div class="section-heading">
        <h4 class="section-heading text-center mb-3">나의 공연 갤러리</h4>
    </div>
    <div class="justify-content-center row align-items-center my-5">
        {% for show in shows%}
        <a href="{%url 'kover:show_detail' show.id%}">
            <div class="showdetailbox card text-center">
                <img class="card-img-top" src="{{show.show_poster}}" alt="" />
                <p><small> {{show.show_name}}</small></p>
                <p><small> {{show.show_hall}}</small></p>
                <p>
                    <small>
                        내 별점 : {%for review in reviews %} {%if review.review_show == show%} {{review.review_grade}}
                        {%endif%}{%endfor%}</small
                    >
                </p>
            </div>
        </a>
        {% endfor %} {% for i in "x"|rjust:"1" %}
        <div class="showdetailbox card text-center h-100 w-30 ml-3 my-5">
            <div class="">
                <a href="{% url 'kover:create_watched_show'%}"><i class="fas fa-plus"></i></a>
                <p>관람 작품 추가하기</p>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
<div class="container">
    <div class="justify-content-center row align-items-center">
        <div class="section-heading ml-6">
            <h4 class="section-heading text-left my-3">공연장</h4>
        </div>
        <div class="container justify-content-center row align-items-center my-3">
            <div class="hallbox card text-center w-100 h-200">
                <p>방문한 총 공연장 수 : {{overlapnum}}</p>
                {% for hall in wantlist %}
                <div>{{hall}}</div>
                {% endfor %}
            </div>
            <div class="border hallbox card text-center w-100 h-200">
                <p>가장 많이 방문한 공연장</p>
                <p>{{hallname}} : {{mostvisitnum}}회</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="justify-content-center row align-items-center my-5">
            <div class="section-heading ml-6">
                <h4 class="section-heading text-left my-3">관심배우</h4>
            </div>
            <div class="actorbox">
                <div class="actoriconl">
                    <button><i class="fas fa-caret-left"></i></button>
                </div>
                <div class="actorcontainer">
                    {% for actor in actors %}
                    <div class="actordetailbox">
                        <img src="{{actor.people_img}}" alt="" width="150px" />
                        <p>{{actor.people_name}} {{actor.people_type}}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="actoriconr">
                    <button><i class="fas fa-caret-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="justify-content-center row align-items-center">
        <div class="section-heading">
            <h4 class="section-heading text-left mt-3">나의 리뷰</h4>
        </div>
        <div class="container justify-content-center row align-items-center my-1">
            {% for review in reviews %} {% if review.review_content == "." %} {%else%}
            <div class="revbox card text-center w-50 h-100 ml-2 mb-2">
                <p>{{review.review_show}}</p>
                <p>{{review.review_grade}} / 10</p>
                <p>{{review.review_content}}</p>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
    <div class="container-fluid">
        <div class="section-heading ml-6 mt-2">
            <h4 class="section-heading text-center mb-4">Favorites</h4>
        </div>
        <div class="justify-content-center row align-items-center">
            {% for favorite in favorites %}
            <div class="showdetailbox card text-center h-20 w-20 ml-3 my-5">
                <div class="">
                    <img src="{{favorite.show_poster.url}}" class="card-img-top img-fluid" alt="" />
                    <p>{{favorite.show_name}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    const btnLeftParent = document.querySelector(".actorbox").firstElementChild;
    const btnLeft = btnLeftParent.querySelector(".actoriconl button");
    const btnRightParent = document.querySelector(".actorbox").lastElementChild;
    const btnRight = btnRightParent.querySelector(".actoriconr button");
    const slideList = document.querySelector(".actorcontainer");
    const slideContents = document.querySelectorAll(".actordetailbox");

    const slideLen = slideContents.length;
    const slideWidth = 181;
    const slideSpeed = 300;
    const startNum = 0;

    slideList.style.width = slideWidth * (slideLen + 7) + "px";

    let firstChild = slideList.firstElementChild;
    let clonedFirst = firstChild.cloneNode(true);

    let secondChild = firstChild.nextElementSibling;
    let clonedSecond = secondChild.cloneNode(true);

    let thirdChild = secondChild.nextElementSibling;
    let clonedThird = thirdChild.cloneNode(true);

    let lastChild = slideList.lastElementChild;
    let clonedLast = lastChild.cloneNode(true);

    let secondlastChild = lastChild.previousElementSibling;
    let clonedSecondLast = secondlastChild.cloneNode(true);

    let thirdlastChild = secondlastChild.previousElementSibling;
    let clonedThirdLast = thirdlastChild.cloneNode(true);

    slideList.appendChild(clonedFirst);

    slideList.appendChild(clonedSecond);
    slideList.appendChild(clonedThird);

    slideList.insertBefore(clonedThirdLast, firstChild);
    slideList.insertBefore(clonedSecondLast, firstChild);
    slideList.insertBefore(clonedLast, firstChild);

    let curIndex = startNum; // current slide index (except copied slide)
    let curSlide = slideContents[curIndex]; // current slide dom
    curSlide.classList.add("slide_active");

    btnRight.addEventListener("click", function () {
        if (curIndex <= slideLen - 1) {
            slideList.style.transition = slideSpeed + "ms";
            slideList.style.transform = "translate3d(-" + slideWidth * (curIndex + 2) + "px, 0px, 0px)";
        }
        if (curIndex === slideLen - 1) {
            setTimeout(function () {
                slideList.style.transition = "0ms";
                slideList.style.transform = "translate3d(-" + slideWidth + "px, 0px, 0px)";
            }, slideSpeed);
            curIndex = -1;
        }
        curSlide.classList.remove("slide_active");
        curSlide = slideContents[++curIndex];
        curSlide.classList.add("slide_active");
    });

    btnLeft.addEventListener("click", function () {
        if (curIndex >= 0) {
            slideList.style.transition = slideSpeed + "ms";
            slideList.style.transform = "translate3d(-" + slideWidth * curIndex + "px, 0px, 0px)";
        }
        if (curIndex === 0) {
            setTimeout(function () {
                slideList.style.transition = "0ms";
                slideList.style.transform = "translate3d(-" + slideWidth * slideLen + "px, 0px, 0px)";
            }, slideSpeed);
            curIndex = slideLen;
        }
        curSlide.classList.remove("slide_active");
        curSlide = slideContents[--curIndex];
        curSlide.classList.add("slide_active");
    });
</script>
{% endblock %}
