<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8"/>
	<title>나의 관람 기록 지도에서 보기</title>
</head>
<body>
	<div id="map" style="width:500px;height:400px;"></div>
	<p>
		<button onclick="setBounds()">pin 전체 한 번에 보기</button>
	</p>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d819f10926d79acd2ffd6a00d34a15ba&libraries=services,clusterer,drawing"></script>
    <script>
		var container = document.getElementById('map'); // 지도를 표시할 div
		var options = {
			center: new kakao.maps.LatLng(37.48021422740642, 127.01421373151956), // 지도의 중심좌표(예술의 전당 오페라하우스)
			level: 3 // 지도의 확대 레벨
		};

		var map = new kakao.maps.Map(container, options); // 지도 생성

		// 버튼을 클릭하면 아래 배열의 좌표들이 모두 보이게 지도 범위를 재설정
		// 추후에 반복문으로 pin 좌표값 받아오는 방식으로 변경 예정
		var points = [
			new kakao.maps.LatLng(37.509177023074834, 126.88957718465996), // 디큐브아트센터
			new kakao.maps.LatLng(37.56622058095958, 127.01467445582529), // 충무아트센터
			new kakao.maps.LatLng(37.517533515140165, 127.0997056305418) // 샤롯데씨어터
		];

		// 지도를 재설정할 범위정보를 가지고 있을 LatLngBounds 객체를 생성
		var bounds = new kakao.maps.LatLngBounds();    

		var i, marker;
		for (i = 0; i < points.length; i++) {
			// 배열의 좌표들이 잘 보이게 마커를 지도에 추가
			marker =     new kakao.maps.Marker({ position : points[i] });
			marker.setMap(map);
			
			// LatLngBounds 객체에 좌표를 추가
			bounds.extend(points[i]);
		}

		function setBounds() {
			// LatLngBounds 객체에 추가된 좌표들을 기준으로 지도의 범위를 재설정
			// 지도의 중심좌표와 레벨이 변경될 수 있음
			map.setBounds(bounds);
		}
	</script>
</body>
</html>


<!--
	Kakao Maps API Sample
	https://apis.map.kakao.com/web/sample/basicMap/
-->