{% extends 'layout.html' %}

{% block content %}

<style>
    .my-level{
        background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
        margin-top: 50px;
        background-position: left;
    }
    .my-level:hover {
        background-position: right;
    }
    
    .showimg {
        width: 30%;
        box-sizing: border-box;
        border-radius: 10px;
        margin-right:5px;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
        transition: all 0.4s ease-in-out;
    }

    .showimg:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    }
    
    a{
        text-decoration-line: none;
        color: black;
    }
    a:hover{
        text-decoration-line: none;
        color: A593E0;
    }
</style>    

<title>Kover | Search</title>

<p>안보여</p>
<p>안보여</p>
<p>안보여</p>
<p>안보여</p>
<div class=' my-level container-fluid' data-aos-'zoom-out-up'>
    <div class=" py-4 my-1 text-center">
        <div class="panel-body ml-4 mt-6 row">
            {%csrf_token%}
            {% if not show_result and not people_result%}
                <h1>"{{q}}"에 대한 검색 결과가 없습니다 :(</h1>
            {% else %}
                <h1>"{{q}}"에 대한 검색 결과입니다 :)</h1>
        </div>
    </div>
</div>
<div class="main_body px-5 my-5">
    <div class="show_list">
        <div>
            <span style="font-size: 25px" class='main_title mb-2 ' data-aos="fade-right" data-aos-delay='500' data-duration='900'>
                <b>공연 검색결과</b>
            </span>
            <br>
            <br>
                {% for show in show_result %}
                <div class='showimg' style="margin-top: 10px" data-aos="fade-up" data-aos-delay='500' data-aos-duration='1300'>
                    <b>공연 이름 : {{ show.show_name }}</b>
                    <b>공연 설명 : {{ show.show_detail }}</b>
                    <img src="{{show.show_poster}}"/>
                </div>
                {% endfor %}
        </div>
    </div>
    


    <br>
   
    <div class="section-heading">
        <h4 class="section-heading text-center py-3" data-aos="fade-right" data-aos-delay='500' data-duration='900'>배우 검색결과</h4>
    </div>
    <div>
        {% for people in people_result %}
        <div class="border hallbox card text-center w-100 h-200">
            <p>배우 이름 : {{ people.people_name }}</p>
            <img src="{{people.people_img}}" alt="" width="100px" />
            <a href="{{ people.get_url }}">이동하기</a>
        </div>
        {%endfor%}
    </div>

    <br>
    
    <div class="section-heading">
        <h4 class="section-heading text-center py-3" data-aos="fade-right" data-aos-delay='500' data-duration='900'>피드 검색결과</h4>
    </div>
    <div>
        {% for feed in feed_result %}
        <div class="border hallbox card text-center w-100 h-200">
            <p>피드 제목 : {{ feed.feed_title }}</p>
            <p>피드 작성자 : {{ feed.feed_author }}</p>
            <p>피드 내용 : {{ feed.feed_content }}</p>
            <a href="{{ people.get_url }}">이동하기</a>
        </div>
        {% endfor %}
    </div>
    
{%endif%}
</div>    
    

{% endblock %}