{% extends 'layout.html' %}

{% block content %}

    <title>Kover | Search</title>
    <h1>!!</h1>
    <h1>!!</h1>
    <h1>!!</h1>
    <h1>!!</h1>
    {%csrf_token%}
    {% if not search_result %}
        <h1>"{{q}}"에 대한 검색 결과가 없습니다 :(</h1>
    {% else %}
        <h1>"{{q}}"에 대한 검색 결과입니다 :)</h1>
        <br>
        <table border="1">
            <tr>
                <th>공연 이름</th>
                <th>공연 설명</th>
                <th>자세히 보기</th>
            </tr>
            {% for show in search_result %}
            <tr>
                <td>{{ show.show_name }}</td>
                <td>{{ show.show_detail }}</td>
                <td><a href='{{ show.get_url }}'>이동하기</a></td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}