{% extends "layout.html" %} {% block extra_head %} {{block.super}} {%endblock%} {% block content %}

<title>
    Kover | contents
</title>
<style>
.title{
      background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);

    }
    header{
        
    }
    .delbox{
    float: right;
}
    .revbox{
        height: 120px
    }
    a{
        text-decoration-line:none;
    }
</style>
<div class=' Page-header-content pt-5'>
    <header class='title py-3'>
        <div class='container'>
    {% comment %} 메인 포스터 {% endcomment %}
            <div  class="show_info theme-bg-primary justify-content-center row align-items-center">
                <div data-aos="fade-right" data-aos-delay='500' data-duration='3000' class="justify-content-center ml-4 col-md-2">
                    <img class="img-fluid rounded mb-4 mb-lg-0"src="{{show.show_poster.url}}" alt="공연 포스터">
                </div>
                {% comment %} 공연 정보 {% endcomment %}
                <div  class="col-md-7" >
                    <h3 data-aos="fade-down" data-aos-delay='600' data-duration='3000'>{{show.show_name}}</h3>
                    <ul  data-aos="fade-left" data-aos-delay='600' data-duration='3000' style='list-style:none;'>
                        <li class='mb-1'>
                            <b>장소: </b>{{show.show_hall}}<a>
                        </li>
                        <li class='mb-1'>
                            <b>공연일: </b>  {{show.show_date_start}} ~ {{show.show_date_end}}
                        </li>
                        <li class='mb-1'>
                            <b>공연시간: </b> {% for showtime in show_times %}{{showtime.time}} <br>{% endfor %} 
                        </li>
                        <li class='mb-1'>
                            <b>인터미션: </b> {{show.show_intermission}} 분
                        </li>
                        <li class='mb-1'>
                            <b>연출: </b> {{show.show_director}}
                        </li>
                    
                        {% if user.is_authenticated %}
                            <li>
                                <b>내 별점</b> <span class='mygrade'>{{mygrade}}</span>
                                <div class="rating">
                                    <input type="radio" id="star10" name="rating" value="10" onclick='onClickStar({{show.id}}, value)'/><label for="star10"
                                        class="full"></label>
                                    <input type="radio" id="star9" name="rating" value="9" onclick='onClickStar({{show.id}}, value)'/><label for="star9"
                                        class="half"></label>
                                    <input type="radio" id="star8" name="rating" value="8" onclick='onClickStar({{show.id}}, value)'/><label for="star8"
                                        class="full"></label>
                                    <input type="radio" id="star7" name="rating" value="7" onclick='onClickStar({{show.id}}, value)'/><label for="star7"
                                        class="half"></label>
                                    <input type="radio" id="star6" name="rating" value="6" onclick='onClickStar({{show.id}}, value)'/><label for="star6"
                                        class="full"></label>
                                    <input type="radio" id="star5" name="rating" value="5" onclick='onClickStar({{show.id}}, value)'/><label for="star5"
                                        class="half"></label>
                                    <input type="radio" id="star4" name="rating" value="4" onclick='onClickStar({{show.id}}, value)'/><label for="star4"
                                        class="full"></label>
                                    <input type="radio" id="star3" name="rating" value="3" onclick='onClickStar({{show.id}}, value)'/><label for="star3"
                                        class="half"></label>
                                    <input type="radio" id="star2" name="rating" value="2" onclick='onClickStar({{show.id}}, value)'/><label for="star2"
                                        class="full"></label>
                                    <input type="radio" id="star1" name="rating" value="1" onclick='onClickStar({{show.id}}, value)'/><label for="star1"
                                        class="half"></label>
                                </div>
                            </li>
                        
                        {% endif %}
                    </ul>
                    <button data-aos="fade-up" data-aos-delay='500' data-aos-duration='1300' type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    공연 정보
                    </button>

                    <div class="modal" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">{{show.show_name}}</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    {{show.show_detail|linebreaksbr}}
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% comment %} ----------캐스팅 정보--------- {% endcomment %}
    <section class="justify-content-center row align-items-center py-3" id="show_actor">
        <div class="container justify-content-center">
            <div data-aos='fade-right' data-aos-anchor-placement='center-bottom' data-duration='100' data-aos-delay='1200'>
                <h4 class="section-heading text-left mb-3 ml-5 ">캐스팅
                    <button type='button' class='btn btn-outline-dark btn-sm ml-5 mb-1' id='show_date'>
                        캐스팅 일정 조회
                    </button>
                </h4>
            </div>
            {% comment %} --------배우 이미지, 배역 -------- {% endcomment %}
            <div class="row actor_info" data-aos='fade-up' data-aos-anchor-placement='center-bottom' data-duration='100' data-aos-delay='1200'>
                {% for people in show.show_actor.all %}
                <div class="col-3 col-md-auto col-lg-2 col-xl-2">
                    <div class="actor text-center">
                        <img class="mx-auto rounded-circle mb-3" src="{{people.people_img.url}}" alt="배우 이미지"
                            width=100px, height=100px />
                        <h5>{{people.people_name}}</h5>
                        <p class="text-muted">{{people.people_type}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    <div class='container-fluid'>
        <div class='testimonials flickity-enabled is-draggable'tabindex='0'>
        </div>
    </div>


        {% comment %} 리뷰(제작중) {% endcomment %}
    <div class='container review-container bg-light py-5 px-6' data-aos='fade-right' data-aos-offset='200' data-aos-delay='200' data-aos-easing='ease-in-sine'>
        <div class='show_review container-fluid  h-100 w-100'>
            <div class='card cmt-4'>
                <div class="card-title section-heading ml-6">
                    <h4 class='section-heading text-left my-3 ml-5'>
                        리뷰 {{revnum}} 개
                    </h4>
                    <hr>
                    <div class='ml-3'>
                        날짜 선택하기 <br>
                        {% for date in showdatelist %}
                        <input type='radio' name='date' value="{{date}}">{{date}}</input>
                        {% endfor %}
                    </div>
                    <div class='revinput text-right mr-3'>
                        <input class='comment_content text-center mb-1' type="text" size='40' placeholder='리뷰를 작성해보세요:)'>
                        <button type='submit' onclick="onClickCom({{show.id}})"
                            class=' btn btn-outline-dark btn-sm ml-5 mb-1'>
                            {%csrf_token%}
                            내 리뷰 등록하기
                        </button>
                    </div>
                    <hr>
                </div>
                <div class='reviewbox' >
                    {% for review in reviews %}
                        {% if review.review_content == '.' %}

                        {%else%}
                        <div id="review_{{review.id}}" class="revbox panel mx-3">
                            <span class='rev_upper'>
                                평점 : {{review.review_grade}}
                            </span>
                            <span style='float:right;'>
                                관람일자 : {{review.review_watched_at}}
                            </span>
                            <br>
                            <span style='float:right;'>
                                작성자 : {{review.review_author}}
                            </span>
                            <div class='rev_middle text-center'>
                                {{review.review_content}}
                            </div>
                            {% if review.review_author == username %}
                            <div class='delbox'>
                                <a class='text-right'>
                                    <button type='submit' onclick='onClickDel({{show.id}}, {{review.id}})'
                                        class='btn btn-outline-dark btn-sm ml-5 mb-1'>
                                        {% csrf_token %}
                                        리뷰 삭제하기
                                    </button>
                                </a>
                            </div>
                            <br>
                            <hr>
                            {% endif %}
                            <div class='rev_bottom'>
                            </div>
                        </div>

                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        let mygrade = {{mygrade}};
        let rate = null;
        const radioCheck=()=>{
            for(i=1;i<=10;i++){
                if(mygrade==i){
                    rate = document.querySelector(`#star${i}`);
                    rate.checked=true;
                }
            }
        };
        radioCheck();
        const seeMore = () => {
            const showdetailbox = document.querySelector('.show_info_detail .card div');
            showdetailbox.classList.remove('y250');

            const showdetailtextbox = showdetailbox.nextElementSibling;
            const detailtext1 = showdetailtextbox.querySelector('.seemore');
            detailtext1.classList.add('none')
            const detailtext2 = showdetailtextbox.querySelector('.seeless');
            detailtext2.classList.remove('none')
        }
        const seeLess = () => {
            const showdetailbox = document.querySelector('.show_info_detail .card div');
            showdetailbox.classList.add('y250')

            const showdetailtextbox = showdetailbox.nextElementSibling;
            const detailtext1 = showdetailtextbox.querySelector('.seemore');
            detailtext1.classList.remove('none')
            const detailtext2 = showdetailtextbox.querySelector('.seeless');
            detailtext2.classList.add('none')
        }
        

        const comrequest = new XMLHttpRequest();
        const delrequest = new XMLHttpRequest();
        const starrequest = new XMLHttpRequest();


        const onClickStar=(show_id, value)=>{
            const url = '/contents/rate/';
            starrequest.open('POST', url, true);
            starrequest.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            starrequest.send(JSON.stringify({ show_id, value }));
                            
            const gradenum = document.querySelector('.mygrade');
            gradenum.innerText = `${value}`
        }

        comrequest.onreadystatechange = () => {
            if (comrequest.readyState === XMLHttpRequest.DONE) {
                handleResponseCom();
            }
        };


        const onClickCom = (id) => {
            const url = '/contents/review/';
            const input = document.querySelector(`.show_review .revinput input`)
            const content = input.value;
            const radiodate = document.getElementsByName('date');
            const radiostar = document.getElementsByName('rating');
            let seldate = null;
            let star = null;
            for (var i = 0; i < radiodate.length; i++) {
                if (radiodate[i].checked == true) {
                    seldate = radiodate[i].value;
                    radiodate[i].checked = false;
                }
            };
            for(var j=0;j<radiostar.length;j++){
                if (radiostar[j].checked == true){
                    star = radiostar[j].value;
                }
            }
            if(star == null){
                alert('별점을 선택하세요')
            }else if (seldate == null) {
                alert('관람날짜를 선택하세요')
            } else {
                comrequest.open('POST', url, true);
                comrequest.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                comrequest.send(JSON.stringify({ id, content, seldate, star }));
                input.value = '';
            }
        }

        const onClickDel = (show_id, review_id) => {
        const url = "/contents/delete/";
        delrequest.open("POST", url, true);
        var delete_warning = confirm('댓글을 삭제하시겠습니까?');
        delrequest.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        delrequest.send(JSON.stringify({ show_id, review_id }));
    };

        const handleResponseCom = () => {
            if (comrequest.status <= 400) {
                console.log('receive')
                const { id, comment, writer, date, grade, yyyy, mm, dd } = JSON.parse(comrequest.response);
                const element = document.querySelector(`.show_review .reviewbox`);
                const comnum = document.querySelector(`.show_review h4`);

                const origin = comnum.innerText;
                const [typeStr, num, 개] = origin.split(" ");
                const count = Number(num) + 1;
                comnum.innerText = `${typeStr} ${count} 개`;

                const create_com = document.createElement("div");
                create_com.innerHTML = `                        <div class="revbox panel mx-3">
                            <span class='rev_upper'>
                                평점 : ${grade}
                            </span>
                            <span style='float:right;'>
                                관람일자 : ${yyyy}년 ${mm}월 ${dd}일
                            </span>
                            <br>
                            <span style='float:right;'>
                                작성자 : ${writer}
                            </span>
                            <div class='rev_middle text-center'>
                                ${comment}
                            </div>
                            <div class='delbox'>
                                <a class='text-right'>
                                    <button type='submit' onclick='onClickDel({{show.id}}, {{review.id}})'
                                        class='btn btn-outline-dark btn-sm ml-5 mb-1'>
                                        {% csrf_token %}
                                        리뷰 삭제하기
                                    </button>
                                </a>
                            </div>
                            <br>
                            <hr>

`;
                element.insertBefore(create_com, element.firstChild);
            }
        };

          const handleResponseDel = () => {
        if (delrequest.status <= 400) {
            const { show_id, review_id } = JSON.parse(delrequest.response);
            const element = document.querySelector(`#review_${review_id}`);
            element.classList.add('none')
           
        }
    };

        comrequest.onreadystatechange = () => {
            if (comrequest.readyState === XMLHttpRequest.DONE) {
                handleResponseCom();
            }
        };

        delrequest.onreadystatechange = () => {
        if (delrequest.readyState === XMLHttpRequest.DONE) {
            handleResponseDel();
        }
    };

        

    </script>



    {% endblock %}
</div>