{% extends "layout.html" %} {% block extra_head %} {{block.super}} {%endblock%} {% block content %}
<title>Kover | contents</title>

<div>
    <h4>{{users}}님, 아직 평가하지 않은 작품들이 많아요!<br /></h4>
</div>

<h4><br />연극</h4>
<div class="playmusical">
    {% comment %} 아직 관람하지 않은 연극들의 리스트 {% endcomment %} {% for play in plays %}
    <div class="show_list_main">
        <a href="{%url 'kover:show_detail' play.id %}">
            <p>{{play.show_name}}</p>
            <img src="{{play.show_poster}}" alt="" width="150px" />
        </a>
    </div>
    {% endfor %}
</div>

<h4><br />뮤지컬</h4>
<div class="playmusical">
    {% comment %} 아직 관람하지 않은 뮤지컬들의 리스트 {% endcomment %} {% for musical in musicals %}
    <div class="show_list_main">
        <a href="{%url 'kover:show_detail' musical.id%}">
            <p>{{musical.show_name}}</p>
            <img src="{{musical.show_poster}}" alt="" width="150px" />
        </a>
    </div>
    {% endfor %}
</div>
{%endblock%}
