{% extends "layout.html" %} {% block extra_head %} {{block.super}} {%endblock%} {% block content %}
<title>Kover | contents</title>
<div>
    <p><br /><br /><br /><br /><br /><br /></p>
</div>
<div>
    {% comment %} 아직 관람하지 않은 연극들의 리스트 {% endcomment %}
    <p>연극</p>
    {% for play in plays %}
    <div>
        <a href="{%url 'kover:show_detail' play.id %}">
            <p>{{play.show_name}}</p>
            <img src="{{play.show_poster.url}}" alt="" width="150px" />
        </a>
    </div>
</div>

{% endfor %}
<div>
    {% comment %} 아직 관람하지 않은 뮤지컬들의 리스트 {% endcomment %}
    <p>뮤지컬</p>
    {% for musical in musicals %}
    <div>
        <a href="{%url 'kover:show_detail' musical.id%}">
            <p>{{musical.show_name}}</p>
            <img src="{{musical.show_poster.url}}" alt="" width="150px" />
        </a>
    </div>
</div>

{% endfor %} {%endblock%}
